@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300&display=swap');

html, body {
    font-family: 'Niramit', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    scroll-behavior: smooth;
  }

header {
    background-color: #5AB56E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
    text-transform: uppercase;
}

header li a {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    text-transform: capitalize;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container > * {
    flex: 1 100%;
}

.hero {
    margin-top: 80px;
}

aside {
    width: 50%;
}

.hero-description,
.content-description {
    padding: 20px;
    line-height: 1.6;
}

.about {

}

.videos {
    padding: 20px;
    line-height: 1.6;
}

.team {
    padding: 20px;
    line-height: 1.6;
}

footer {
    height: 50px;
    width: 100%;
    padding: 50px;
    margin: 0px;
    background-color: #5AB56E;
    text-align: center;
}

footer a, footer p {
    color: white;
    text-decoration: none;
}

#play-btn {
    background-color: #5AB56E;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 5px;
    width: 100px;
    height: 50px;
}

#play-btn:hover {
    background-color: #48a15b;
}

@media all and (max-width: 800px) {
    header {
        justify-content: space-around;
    }

    .flex-container {
      flex-direction: column;
    }

    .hero-media { order: 1;  }
    .hero-description { order: 2; }
    .content-media { order: 3; }
    .content-description { order: 4; }
    .videos { order: 5; }
    .team { order: 6; }
    .footer { order: 7; }
}